{% extends '::newbase.html.twig' %}

{% block title %}
    <title>{% trans %}Pasos{% endtrans %} </title>
{% endblock %}

{% block body -%}
<div id="pcont" class="container-fluid">
    <div class="page-head">
        <h2>Lista de {% trans %}Pasos{% endtrans %} </h2>
            <ol class="breadcrumb">
            <li><a href="{{ url('homepage') }}">Home</a></li>
            <li><a href="{{ url('stepstatus') }}">{% trans %}Pasos{% endtrans %} </a></li>
            <li class="active">Listar</li>
            </ol>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger">
                    <strong>Advertencia: </strong>{{ flashMessage }}
                </div>
            {% endfor %}
    </div>
    <div class="main-app">
        <div class="head" >
            <h3>Búsqueda</h3>
            <input type="text" id="globalfilter" placeholder="Nombre" class="form-control" style="width: 30%;">
            
        </div>
        <div class="filters">
            <p style="display:inline;" id="currentdate"></p>
        </div>
        <div class="block-flat" style=" padding-top: 0px;">
            <div class="content" style=" padding-top: 0px;">
                <div id="mydiv" style="width: 100%" >
                    <table id="stepstatusTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Porcentaje</th>
                                <th style="text-align:center">Activo</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('stepstatus_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                            <td>{{ entity.description }}</td>
                            <td>{{ entity.percentage }}</td>
                            <td style="text-align:center">
                            {% if entity.active %}
                                <input type="checkbox" checked="checked" class="icheck" disabled readonly >
                            {% else %}
                                <input type="checkbox" disabled class="icheck" readonly >
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="margin-top:10px;">
                    <table class="no-border">
                        <tbody class="no-border-y">
                            <tr>
                            <td>
                                <button type="button" onClick="history.go(-1);return true;" class="btn btn-default btn-sm" >Regresar</button>
                            </td>
                            <td style="text-align:right;">
                                <buttom class="btn btn-primary btn-sm" title="Crear" onclick="location.href='{{ path('stepstatus_new') }}';">Crear nuevo</buttom>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}

<script type="text/javascript">
    function formatDate(date) {
        var monthNames = [
            "Enero", "Febrero", "Marzo",
            "Abril", "Mayo", "Junio", "Julio",
            "Agosto", "Septiembre", "Octubre",
            "Noviembre", "Diciembre"
        ];

        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        return day + ' de ' + monthNames[monthIndex] + ' ' + year;
    }
    function searchBis(str_search) {
        var ret = $($.parseHTML(str_search)).text().toLowerCase();
        return ret.indexOf($('#globalfilter').val().toLowerCase()) == 0;
    }
    $.fn.dataTable.ext.search.push(
        function( settings, data, dataIndex ) {
        if ($('#globalfilter').val().trim() != '') {
            var ret0 = searchBis(data[0]);
            return ( ret0 );
        } else {
            return true;
        }

    });
    $(document).ready(function () {
        $(".dataTables_filter input").val('');
        document.getElementById("currentdate").innerHTML = formatDate(new Date());
        var $thisStepstatusTable = $('#stepstatusTable').DataTable({
            "stateSave": false,
            "columnDefs": [
                    { "searchable": true, "targets": 0 },
                    { "searchable": false, "targets": 1 },
                    { "searchable": false, "targets": 2 },
            ],
            "order": [[ 0, "asc" ]],
            "pageLength": 10,
            "ordering": true,
            "searching": true,
            "info":     false,
            "lengthChange": true,
            "scrollX": true,
            "lengthMenu": [[10, 20, 30, -1], [10, 20, 30, "Todas"]],
            "language": {
                "sSearch": "Buscar",
                "lengthMenu": 'Mostrando  _MENU_  "{% trans %}Pasos{% endtrans %}" por página',
                "zeroRecords": "<div style=\"color:red;\">Lo siento no se encontraron {% trans %}Pasos{% endtrans %}</div>",
                "sinfo": "Mostrando _START_ a _END_ de _TOTAL_ {% trans %}Pasos{% endtrans %}",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(Filtradas de un total de _MAX_ )",
                "searchPlaceholder": "Nombre",
                "paginate" : {
                    first:    '«',
                    previous: '‹',
                    next:     '›',
                    last:     '»'
                },
            },
            "sDom": '<"top"i>rt<"bottom"lp><"clear">',
            "pagingType": "full_numbers",
            "fnDrawCallback": function(oSettings) {
                if ((oSettings._iDisplayLength >= oSettings.fnRecordsDisplay()) ||  (oSettings._iDisplayLength == -1)) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                } else {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                }
            },
        });
        $('#globalfilter').on( 'keyup', function () {
            $thisStepstatusTable.draw();
        } );
    });
    
</script>
{% endblock %}
