{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Servtoguide list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Servicedate</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('servtoguide_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.servicedate %}{{ entity.servicedate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.amount }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('servtoguide_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
