{% extends '::newbase.html.twig' %}

{% block title %}
    <title>Lista de {% trans %}Warehouse{% endtrans %}</title>
{% endblock %}

{% block body -%}

<div class="page-aside app filters">
    <div class="content">
        <button data-target=".app-nav" data-toggle="collapse" type="button" class="navbar-toggle"><span class="fa fa-chevron-down"></span></button>
        <h2 class="page-title">Filtros</h2>
        <p class="description">Buscador Avanzado</p>
       
    </div>
    <div class="app-nav collapse">
        <div class="content">
            <div class="form-group">
                <label class="control-label">Desde:</label>
                <div data-min-view="2" data-date-format="mm/dd/yyyy" class="input-group date datetime">
                    <input id="mindate" size="16" type="text" value="" class="form-control"><span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Hasta:</label>
                <div data-min-view="2" data-date-format="mm/dd/yyyy" class="input-group date datetime">
                    <input id="maxdate" size="16" type="text" value="" class="form-control"><span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                </div>
            </div>
            {% if app.user.agency.type == "MASTER" %}
            <div class="form-group" id="searchAgency">
                <label class="control-label">Agencia:</label>
                <select id="findAgency" class="select2">
                    <option value="Todas">Todas</option>
                    {% for agency in agencies %}
                        <option value="{{ agency.name }}">{{ agency.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <select id="findStatus" class="select2">
                <option value="Cualquiera">Cualquiera</option>
                {% for statu in status %}
                    <option value="{{ statu }}">{{ statu }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div id="pcont" class="container-fluid">
    <div class="main-app">
        <div class="head">
            <h3>Búsqueda</h3>
            <input type="text" id="globalfilter" placeholder="Número de Recibo/ Remitente/ Destinatario" class="form-control">
        </div>
        
        <div class="block-flat" style=" padding-top: 10px;">
            <div class="content" style=" padding-top: 0px;">
               <div id="mydiv" style="width:70%">
                <table id="warehouseTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead id="headrec">
                        <tr>
                            <th>Número</th>
                            <th>Remitente</th>
                            <th>Destinatario</th>
                            <th>Fecha</th>
                            <th>Agencia</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                                <tr>
                                    <td>
                                        <a href="{{ path('whrec_show', { 'id': entity.id }) }}">{{ entity.number }}</a>
                                        <buttom class="btn btn-default btn-xs" title="Crear {% trans %}Guía{% endtrans %}" onclick="location.href='{{ path('guide_whrec')~'?whrec_id='~ entity.id }}';" data-placement="up"><i class="fa fa-file"></i></buttom>
                                        
                                        <buttom class="btn btn-primary btn-xs" title="Editar" onclick="location.href='{{ path('whrec_edit', { 'id': entity.id }) }}';"><i class="fa fa-pencil"></i></buttom>
                                        
                                        <buttom class="btn btn-danger btn-xs" title="Anular" onclick="OpenCancel({{ entity.id }}); return true;"><i class="fa fa-times"></i></buttom>
                                    </td>
                                    <td>
                                        {{ entity.shipper }}
                                    </td>
                                    <td>
                                        {{ entity.receiver.name }} {{ entity.receiver.lastname }}{#,  {{ entity.receiver.city }} ({{ entity.receiver.city.state }}, {{ entity.receiver.city.state.country }}) #}
                                    </td>
                                    <td>
                                        {% if entity.creationdate %}
                                            {{ entity.creationdate|date('m/d/Y H:i:s') }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ entity.agency }}
                                    </td>
                                    <td>
                                    {% if entity.liststatus|length == 0 %}
                                        {% if entity.guide %}
                                            Procesado
                                        {% else %}
                                            Creado 
                                        {% endif %}
                                    {% else %}
                                        {{ entity.laststatus }}
                                    {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>    
   
   <input type="hidden" id="idwh">
   
    <!-- Modal -->
        <div id="cancelwhrec" tabindex="-1" role="dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="closecancelwhrec" type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="i-circle danger"><i class="fa fa-times"></i></div>
                                <p style="font-size:16px;">Confirme la anulación del {% trans %}Warehouse{% endtrans %} </p>
                            </div>
                            <div class="alert alert-danger">
                                <strong>Advertencia: </strong>Los {% trans %}Recibos{% endtrans %} contenidos en el {% trans %}Warehouse{% endtrans %} serán anulados
                            </div>
                            <center>
                            <button type="button" class="btn btn-info btn-flat gotocancel">Confirmar</button>
                            </center>
                        </div>
                        
                        <div class="modal-footer">
                            <div class="text-center">
                                <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content-->
            </div><!-- /.modal-dialog-->
        </div><!-- /.modal-->

{% endblock %}
{% block javascripts %}  

<script type="text/javascript">
    function OpenCancel(id) { 
        $('#idwh').val(id);
        $('#cancelwhrec').modal('show');
    }
    function formatDate(datein) {
        var date = new Date(datein);
        var monthNames = [
            "Ene", "Feb", "Mar",
            "Abr", "May", "Jun", "Jul",
            "Ago", "Sep", "Oct",
            "Nov", "Dic"
        ];

        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        return day + monthNames[monthIndex] + ' ' + year;
    }
    function searchBis(str_search) {
        var ret = $($.parseHTML(str_search)).text().toLowerCase();
        return ret.indexOf($('#globalfilter').val().toLowerCase()) != -1;
    }
    $.fn.dataTable.ext.search.push(
        function( settings, data, dataIndex ) {
     
        if ($('#globalfilter').val().trim() != '') {
            var ret0 = searchBis(data[0]);
            var ret2 = searchBis(data[1]);
            var ret3 = searchBis(data[2]);
            return ( ret0 || ret2 || ret3);
        } else {
            return true;
        }
        
    });
    $.fn.dataTableExt.afnFiltering.push(
        function( oSettings, aData, iDataIndex ) {
            var iFini = document.getElementById('mindate').value;
            var iFfin = document.getElementById('maxdate').value;
            var iStartDateCol = 3
            var iEndDateCol = 3;
    
            iFini=iFini.substring(6,10) + iFini.substring(0,2)+ iFini.substring(3,5);
            iFfin=iFfin.substring(6,10) + iFfin.substring(0,2)+ iFfin.substring(3,5);
    
            // console.log(iFini + ' ' + iFfin);
            
            var datofini=aData[iStartDateCol].substring(6,10) + aData[iStartDateCol].substring(0,2)+ aData[iStartDateCol].substring(3,5);
            var datoffin= datofini;
            /*
            aData[iEndDateCol].substring(6,10) + aData[iEndDateCol].substring(3,5)+ aData[iEndDateCol].substring(0,2);
            // console.log(datofini + ' ' + datoffin); */
    
            if ( iFini === "" && iFfin === "" )
            {
                return true;
            }
            else if ( iFini <= datofini && iFfin === "")
            {
                return true;
            }
            else if ( iFfin >= datoffin && iFini === "")
            {
                return true;
            }
            else if (iFini <= datofini && iFfin >= datoffin)
            {
                return true;
            }
            return false;
        }
    );
    function mysorter(column) {
            var sortedCol = $('#warehouseTable').dataTable().fnSettings().aaSorting[0][0];
            var sortedDir = $('#warehouseTable').dataTable().fnSettings().aaSorting[0][0];
            if (sortedCol == column) {
                if (sortedDir = 'asc') {
                    $thisWHrecTable.order( [ column, 'desc' ] ).draw();
                } else {
                    $thisWHrecTable.order( [ column, 'asc' ] ).draw();
                }
            } else {
                $thisWHrecTable.order( [ column, 'asc' ] ).draw();
            }
            return false;
    }
    
    $(document).ready(function () {
       
        $('.gotocancel').click(function(e) {
            e.preventDefault();
            $('#cancelwhrec').click();
            var id = $('#idwh').val();
            var url="{{ path('whrec_cancel') }}" + "?whrec_id=" + id;
            //funalert('VOY A ANULAR LA FACTURA: ' + url);
            window.location.href = url;
            return false;
        });
        
        $thisWHrecTable=$('#warehouseTable').DataTable({
            "ordering": true,
            "responsive": true,
            "searching": true,
            "info":     true,
            "lengthChange": true,
            "scrollX": true,
            "paginate": true,
            "pageLength": 15,
            "lengthMenu": [[5, 10, 15, 20, 25, 30, -1], [5, 10, 15, 20, 25, 30, "Todos"]],
            "columns": [ null, null, null , null, null, null ],
            
            "columnDefs": [
             {% if app.user.agency.type != "MASTER" %}
                {   
                    "targets": [ 4 ],
                    "visible": false,
                    "searchable": true,
                },
            {% endif %}
            {   
                    "targets": [ 5 ],
                    "visible": true,
                    "searchable": true,
                },
            { "type": 'date', "targets": 3 },
             ],
            
            "order": [[ 3, "desc" ]],
            "language": {
                "sSearch": "Buscar",
                "lengthMenu": 'Mostrando  _MENU_  "{% trans %}Warehouse{% endtrans %}" por página',
                        "zeroRecords": "<div style=\"color:red;\">Lo siento no se encontraron {% trans %}Warehouse{% endtrans %}</div>",
                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ {% trans %}Warehouse{% endtrans %}",
                        "infoEmpty": "No hay registros disponibles",
                        "infoFiltered": "(Filtradas de un total de _MAX_ )",
                "searchPlaceholder": "Número/Remitente/Destinatario",
                "paginate" : {
                                first:    '«',
                                previous: '‹',
                                next:     '›',
                                last:     '»'
                    }
                },
            "pagingType": "full_numbers",
            "sDom": '<"top"B>rt<"bottom"lp><"clear">',
            "fnDrawCallback": function(oSettings) {
                    if ((oSettings._iDisplayLength >= oSettings.fnRecordsDisplay()) ||  (oSettings._iDisplayLength == -1)) {
                        $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                    } else {
                        $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                    }
            },
        });
        
        $('#globalfilter').on( 'keyup', function () {
            $thisWHrecTable.draw();
        } );
        {% if app.user.agency.type == "MASTER" %} 
        $('#findAgency').change( function () {
            if (this.value == "Todas" ) {
                $thisWHrecTable.columns( 4 ).search('').draw();
            } else {
                $thisWHrecTable.columns( 4 ).search( this.value ).draw();
            }
        } );
        {% endif %}
        $('#mindate').change( function() { $thisWHrecTable.draw(); } );
        $('#maxdate').change( function() { $thisWHrecTable.draw(); } );
        
        $('#mydiv').width("100%");
        $thisWHrecTable.responsive.rebuild();
        $thisWHrecTable.responsive.recalc();
        $thisWHrecTable.draw(false);
        $( window ).resize(function() {
            $thisWHrecTable.responsive.rebuild();
            $thisWHrecTable.responsive.recalc();
            $thisWHrecTable.draw(false);
        });
        $('#findStatus').change( function () {
            utilityLib.redrawTable($thisWHrecTable, '#mydiv', '50%', 1);
            if (this.value == "Cualquiera" ) {
                $thisWHrecTable.columns( 5 ).search('').draw();
            } else {
                $thisWHrecTable.columns( 5 ).search( this.value ).draw();
            }
            utilityLib.redrawTable($thisWHrecTable, '#mydiv', '100%', 1);
        } );
        
    });
</script>
{% endblock %}
