{% extends '::newbase-subscriber.html.twig' %}

{% block title %}
    <title>Configuración de  Empresa</title>
{% endblock %}

{# Display the form #}

{% form_theme form 'form/fields.html.twig' %}

{% block body %}

<div id="pcont" class="container-fluid">
    <div class="page-head">
        <h2>Configuración de Empresa</h2>
            <ol class="breadcrumb">
            <li><a href="{{ url('homepage') }}">Home</a></li>
            <li class="active">Configurar</li>
            </ol>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger">
                    <strong>Advertencia: </strong>{{ flashMessage }}
                </div>
            {% endfor %}
    </div>
    <div class="cl-mcont">

        {{ form_start(form, {attr: {novalidate: 'novalidate', 'id': 'agency_type' }}) }}
        <div class="block-flat">
            <div class="header">
                <h3>Datos de la empresa</h3>
            </div>
            <div class="content">
                <div id="accordion1" class="panel-group accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a style="color: #555;" data-toggle="collapse" data-parent="#accordion1" href="#ac4-1" aria-expanded="false"><i class="fa fa-angle-right"></i>Básicos</a></h4>
                        </div>
                        <div id="ac4-1" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ form_row(form.name) }} 
                                {{ form_row(form.acronym) }} 
                                {{ form_row(form.url) }}
                                {{ form_row(form.billurl) }}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="control-label required" for="">Logo de impresión</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="dropzone" id="dropzonelogo">
                                                <div class="dz-message">
                                                    <h3> Suelta el archivo aquí o haz clic para cargar (JPG/PNG) (<=  1Mb)</h3>
                                                    <span class="note">Se recomienda que la imagen tenga las siguientes dimensiones: 200x200px</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="control-label required" for="">Logo de sistema</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="dropzone" id="dropzonelogomain">
                                                <div class="dz-message">
                                                    <h3> Suelta el archivo aquí o haz clic para cargar (JPG/PNG) (<= 1Mb)</h3>
                                                    <span class="note">Se recomienda que la imagen tenga las siguientes dimensiones: 120x34px</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label class="control-label required" for="">Fondo pantallas acceso</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="dropzone" id="dropzonebackground">
                                                <div class="dz-message">
                                                    <h3> Suelta el archivo aquí o haz clic para cargar (JPG/PNG) (<= 5Mb)</h3>
                                                    <span class="note">Se recomienda que la imagen tenga las siguientes dimensiones: 300x300px</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_row(form.email) }} 
                                {{ form_row(form.dimfactor) }} 
                                {{ form_row(form.iniguide) }} 
                                {{ form_row(form.ininum) }} 
                                {{ form_row(form.convertvol) }} 
                                <div class="row">
                                    <div class="col-sm-2 col-md-2">
                                        {{ form_row(form.roundtotal) }} 
                                    </div>
                                    <div class="col-sm-5 col-md-5">
                                        {{ form_row(form.roundvol) }}
                                    </div>
                                    <div class="col-sm-5 col-md-5">
                                        {{ form_row(form.roundweight) }} 
                                    </div>
                                </div>
                                {{ form_row(form.prefixguide) }} 
                                {{ form_row(form.prefixpobox) }} 
                                {{ form_row(form.prefixconsol) }} 
                                <hr> <h4>La dirección de envío a Casilleros lleva: </h4>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        {{ form_row(form.companyname) }} 
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        {{ form_row(form.numbername) }} 
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        {{ form_row(form.customername) }} 
                                    </div>
                                </div>
                                <hr>
                                
                                {{ form_row(form.poboxmsg)}} 
                                {{ form_row(form.countries)}} 
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="accordion3" class="panel-group accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a style="color: #555;" data-toggle="collapse" data-parent="#accordion3" href="#ac4-3" aria-expanded="false"><i class="fa fa-angle-right"></i>Agencia</a></h4>
                        </div>
                        <div id="ac4-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ form_row(form.agencyname) }}
                                {{ form_row(form.address) }}
                                {{ form_row(form.zip) }}
                                <div class="form-group">
                                    <div class="row">
                                            <div class="col-md-2">
                                                <label>Ciudad</label>
                                            </div>
                                            <div class="col-md-10">
                                                <input type="hidden" id="cityagency" style="width:100%;" />
                                            </div>
                                    </div>
                                </div>
                                {#
                                {{ form_row(form.cityname) }}
                                {{ form_row(form.state) }}
                                {{ form_row(form.country) }}
                                #}
                                {{ form_row(form.phone) }} 
                                {{ form_row(form.fax) }}
                                {{ form_row(form.agencyemail) }}
                                {{ form_row(form.webmaster) }} 
                                {{ form_row(form.manager) }}
                                {{ form_row(form.guidecopies) }}
                                {{ form_row(form.poboxs) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion4" class="panel-group accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a style="color: #555;" data-toggle="collapse" data-parent="#accordion3" href="#ac4-4" aria-expanded="false"><i class="fa fa-angle-right"></i>Usuario</a></h4>
                        </div>
                        <div id="ac4-4" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ form_row(form.username) }}	
                                {{ form_row(form.useremail) }}
                                {{ form_row(form.firstname) }}	
                                {{ form_row(form.lastname) }}
                                {{ form_row(form.password) }}	
                            </div>
                        </div>
                    </div>
                </div>
                <table class="no-border">
                <tbody class="no-border-y">
                    <tr>
                    <td>
                        <button type="button" onClick="history.go(-1);return true;" class="btn btn-default" >Regresar</button>
                    </td>
                    <td style="text-align:right;">
                        {{ form_row(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
                    </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" id="acceptedLogo">
            <input type="hidden" id="acceptedLogomain">
            <input type="hidden" id="acceptedBackground">
            {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    
    var thecountries = [];
    
    $(document).ready(function () {
        var count=0;
        $('input:checkbox[id^="maincompany_type_countries_"]:checked').each(function(){
            // console.log($(this).attr("id"));
            thecountries[count++]=$(this).val();
        });
        $('input:checkbox[id="maincompany_type_countries_1"]:checked').each(function(){
            $(this).prop('disabled',true);
        });
        var cityid = $('#maincompany_type_cityid').val();
        // console.log(cityid);
        if (cityid) {
            $.ajax({
                type: "GET",
                url: "{{ url('city_findcity') }}?city_id=" + cityid,
                success: function(data) {
                    var theid = data['id'];
                    var name = data['text'];
                    if (theid > 0) {
                        $('#cityagency').select2('data', {id: theid, text: name});
                    }
                },
            });
        }
        $("#cityagency").select2({
            placeholder: "Buscar Ciudad",
            ajax: {
                url: "{{ path('city_findbycountry') }}",
                dataType: 'json',
                delay: 250,
                data: function (term) {
                    return {
                        q: term, //search term
                        countries: JSON.stringify(thecountries),
                    };
                },
                results: function (data) {
                    return {
                        results: data,
                    };
                },
                cache: true
                },
             minimumInputLength: 2,
             formatInputTooShort: function (input, min) { var n = min - input.length; return "Por favor ingrese  " + n + " carcater" + (n == 1? "" : "es") + " mas"; },
             formatNoMatches: function () { return "No se encuentran resultados"; },
        });
        $('#cityagency').on("change", function(e) { 
            var cityid = $('#cityagency').val();
            $('#maincompany_type_cityid').val(cityid);
            // console.log($('#maincompany_type_cityid').val());
        });
        
        $('.checkcountries').on('ifChecked', function(event){
            var value = event.target.value;
            var count = thecountries.length;
            thecountries[count] = value;
        });
        $('.checkcountries').on('ifUnchecked', function(event){
            var rem = event.target.value;
            thecountries = jQuery.grep(thecountries, function(value) {
                return value != rem;
            });
        });
        {% if entity.poboxmsg|length > 0 %}
            var men = '{{ entity.poboxmsg|raw }}';
            var men = men.replace(/<br>/g, "\n");
            $('#maincompany_type_poboxmsg').val(men);
        {% endif %}
        
        $('#maincompany_type_submit').click(function(evt) {
            var men = $('#maincompany_type_poboxmsg').val();
            var men = men.replace(/\n/g, "<br>");
            $('#maincompany_type_poboxmsg').val(men);
            $('input:checkbox[id="maincompany_type_countries_1"]:checked').each(function(){
                $(this).prop('disabled',false);
            });
        });
        $(":file").filestyle({buttonText: "Imagen(jpg/png)", buttonName: "btn-primary", placeholder: "no seleccionado"});
        {% if nocollapse %}
            $('#ac4-1').collapse(false);
            $('#ac4-3').collapse(false);
            $('#ac4-4').collapse(false);
        {% endif %}
        $('#maincompany_type_fileLogo').val('');
        $('#maincompany_type_fileLogomain').val('');
        $('#maincompany_type_fileBackground').val('');
        Dropzone.autoDiscover = false;
        var dropzoneLogo = new Dropzone("#dropzonelogo", {
            url: '{{ path('loadlogo') }}',
            maxFiles: 1,
            uploadMultiple: false,
            dictMaxFilesExceeded: 'Solo puede seleccionar un (1) archivo',
            acceptedFiles: 'image/*',
            dictInvalidFileType: 'No se permiten archivos de este tipo',
            maxFilesize: 1,  // in Mb
            dictFileTooBig: "El tamaño del archivo ({{ '{{' ~ 'filesize' ~ '}}' }}Mb) excede el máximo permitido ({{ '{{' ~ 'maxFilesize' ~ '}}' }}Mb)",
            addRemoveLinks: true,
            dictRemoveFile: 'Eliminar archivo',
            init: function () {
                this.on("error", function(file, message, xhr) { 
                    if (xhr == null) this.removeFile(file); // perhaps not remove on xhr errors
                    funalert(message);
                });
                this.on("sending", function(file, xhr, formData) {
                    // send additional data with the file as POST data if needed.
                    // formData.append("key", "value");  
                });
                this.on("success", function(file, response) {
                    if (response.uploaded) {
                        $('#maincompany_type_fileLogo').val(response.fileName);
                        $('#acceptedLogo').val(file.name);
                        //alert('File Uploaded: ' + response.fileName);
                    }
                });
                this.on("removedfile", function(file) {
                    //var num = dropzone_default.getUploadingFiles().length;
                    //x = confirm('¿Quiere eliminar el archivo? ' + num);
                    //if(!x)  return false;
                    //console.log(num + '->' + $('#maincompany_type_fileLogo').val() + '==' + file.name);
                    if ($('#acceptedLogo').val() == file.name) {
                        $('#maincompany_type_fileLogo').val('');
                    }
                });
            }
        });
        var dropzoneLogomain = new Dropzone("#dropzonelogomain", {
            url: '{{ path('loadlogomain') }}',
            maxFiles: 1,
            uploadMultiple: false,
            dictMaxFilesExceeded: 'Solo puede seleccionar un (1) archivo',
            acceptedFiles: 'image/*',
            dictInvalidFileType: 'No se permiten archivos de este tipo',
            maxFilesize: 1,  // in Mb
            dictFileTooBig: "El tamaño del archivo ({{ '{{' ~ 'filesize' ~ '}}' }}Mb) excede el máximo permitido ({{ '{{' ~ 'maxFilesize' ~ '}}' }}Mb)",
            addRemoveLinks: true,
            dictRemoveFile: 'Eliminar archivo',
            init: function () {
                this.on("error", function(file, message, xhr) { 
                    if (xhr == null) this.removeFile(file); // perhaps not remove on xhr errors
                    funalert(message);
                });
                this.on("sending", function(file, xhr, formData) {
                    // send additional data with the file as POST data if needed.
                    // formData.append("key", "value");  
                });
                this.on("success", function(file, response) {
                    if (response.uploaded) {
                        $('#maincompany_type_fileLogomain').val(response.fileName);
                        $('#acceptedLogomain').val(file.name);
                        //alert('File Uploaded: ' + response.fileName);
                    }
                });
                this.on("removedfile", function(file) {
                    //var num = dropzone_default.getUploadingFiles().length;
                    //x = confirm('¿Quiere eliminar el archivo? ' + num);
                    //if(!x)  return false;
                    //console.log(num + '->' + $('#maincompany_type_fileLogo').val() + '==' + file.name);
                    if ($('#acceptedLogomain').val() == file.name) {
                        $('#maincompany_type_fileLogomain').val('');
                    }
                });
            }
        });
        var dropzoneBackground = new Dropzone("#dropzonebackground", {
            url: '{{ path('loadbackground') }}',
            maxFiles: 1,
            uploadMultiple: false,
            dictMaxFilesExceeded: 'Solo puede seleccionar un (1) archivo',
            acceptedFiles: 'image/*',
            dictInvalidFileType: 'No se permiten archivos de este tipo',
            maxFilesize: 5,  // in Mb
            dictFileTooBig: "El tamaño del archivo ({{ '{{' ~ 'filesize' ~ '}}' }}Mb) excede el máximo permitido ({{ '{{' ~ 'maxFilesize' ~ '}}' }}Mb)",
            addRemoveLinks: true,
            dictRemoveFile: 'Eliminar archivo',
            init: function () {
                this.on("error", function(file, message, xhr) { 
                    if (xhr == null) this.removeFile(file); // perhaps not remove on xhr errors
                    funalert(message);
                });
                this.on("sending", function(file, xhr, formData) {
                    // send additional data with the file as POST data if needed.
                    // formData.append("key", "value");  
                });
                this.on("success", function(file, response) {
                    if (response.uploaded) {
                        $('#maincompany_type_fileBackground').val(response.fileName);
                        $('#acceptedBackground').val(file.name);
                        //alert('File Uploaded: ' + response.fileName);
                    }
                });
                this.on("removedfile", function(file) {
                    //var num = dropzone_default.getUploadingFiles().length;
                    //x = confirm('¿Quiere eliminar el archivo? ' + num);
                    //if(!x)  return false;
                    //console.log(num + '->' + $('#maincompany_type_fileLogo').val() + '==' + file.name);
                    if ($('#acceptedBackground').val() == file.name) {
                        $('#maincompany_type_fileBackground').val('');
                    }
                });
            }
        });
    });
</script>
{% endblock %}
