{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ubicación en bodega</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Espacio volumétrico</th>
                <td>{{ entity.space }}</td>
            </tr>
            <tr>
                <th>Posición</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ entity.comment }}</td>
            </tr>
	    <tr>
                <th>Bodega</th>
                <td>{{ entity.warehouse }}</td>
            </tr>
	    <tr>
                <th>Fecha de creación</th>
                <td>{{ entity.creationdate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('location') }}">
            Regresar a la lista de ubicaciones
        </a>
    </li>
    <li>
        <a href="{{ path('location_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
