{% extends app.user.pobox is null
    ? '::layout_min.html.twig' 
    : '::base-public.html.twig' %}

{% block body -%}
<div class="widget">
    <div class="widget-header"> <i class="fa fa-credit-card" aria-hidden="true"></i>
              <h3>Pago efectuado</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
	     <div class="bodycontainer scrollable">
	     <table class="table table-striped table-bordered">
                <thead>
                  <tr>
    			<th colspan=3><h4>Datos del pago</h4></th>
		  </tr>
                </thead>  
       		<tbody>
			<tr>
    			<td>Nombre: {{ entity.customer.name }}</td>
			<td>Apellido: {{ entity.customer.lastname }}</td>
			<td>Email: {{ entity.customer.email }}</td>
			</tr>
			<tr>
    				
				<td colspan=1>{% trans %}Guía{% endtrans %}: {{ entity.guide }}</td>
				<td colspan=2>Cuenta: {{ entity.account }}</td>
			</tr>
			<tr> 
				<td>Fecha de Pago: {{ entity.paydate | date('m/d/Y') }}</td>
				<td>Monto: {{ entity.amount }}</td>
				<td> Procesado: {% if entity.verified %}
					<input type="checkbox" checked="checked" disabled readonly >
		   			 {% else %}
					<input type="checkbox" disabled readonly >
		    			{% endif %}</td>	
			</tr>
    			
    	</tbody>
        <tfoot>
    	<tr>
	{% if entity.verified %}
    	<td colspan=3 style="text-align:right;"><button type="button" onClick="history.go(-1);return true;" class="btn btn-default btn-lg bback" >Regresar</button></td>
	{% else %}
	{{ form_start(delete_form, {'attr': {'novalidate': 'novalidate'}}) }}
	<td>{{ form_row(delete_form.submit) }}
	{{ form_end(delete_form) }}
	<td colspan=2 style="text-align:right;"><button type="button" onClick="history.go(-1);return true;" class="btn btn-default btn-lg bback" >Regresar</button></td>
	{% endif %}
    	</tr>
    </tfoot>
    </table>
</div>
</div>
</div>
{% endblock %}
