{% extends '::newbase.html.twig' %}

{% block title %}
    <title>{% trans %}Consolidar{% endtrans %} Bolsa</title>
{% endblock %}

{% block body -%}
{% set head = entity.guides|first %}
<div id="pcont" class="container-fluid">
    <div class="page-head">
        <h2>{% trans %}Consolidar{% endtrans %} Bolsa</h2>
            <ol class="breadcrumb">
            <li><a href="{{ url('homepage') }}">Home</a></li>
            <li><a href="{{ url('bag') }}">Bolsas</a></li>
            <li class="active"> {% trans %}Consolidar{% endtrans %}</li>
            </ol>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger">
                    <strong>Advertencia: </strong>{{ flashMessage }}
                </div>
            {% endfor %}
    </div>
    <div class="cl-mcont">
        <div class="block-flat">
            <div class="header">
                <h3>Listado de {% trans %}Guías{% endtrans %} incluidas en la bolsa</h3>
            </div>
            <div class="content">
                <table id="guideTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Peso</th>
                        <th>Volumen</th>
                        <th>Piezas</th>
                        <th>Valor</th>
                        <th>Monto</th>
                    </tr>	
                </thead>
                    {% for guide in entity.guides %}
                        <tr>
                            <td><a  class="btn btn-success btn-xs btn-flat" href="{{ path('guide_show', { 'id': guide.id }) }}">{{ guide.number }}</a></td>
                            <td>{{ guide.realweight }}</td>
                            {% set pri = true %}
                            <td>
                                {% set volcad = '' %}
                                {% if guide.masterec %}
                                    {% set listrec = [guide.masterec] %}
                                {% else %}
                                    {% set listrec = guide.receipts %}
                                {% endif %}
                                {% for receipt in listrec %}
                                    {% set vol = (receipt.length*receipt.width*receipt.height/guide.agency.maincompany.convertvol)|number_format(2, '.', ',') %}
                                    {% if pri %}
                                        {% set volcad = volcad ~ vol ~ 'dimension'|trans %}
                                        {% set pri = false %}
                                    {% else %}
                                        {% set volcad =  volcad ~ ',  ' ~ vol ~ 'dimension'|trans %}
                                    {% endif %} 
                                {% endfor %}
                                {{ volcad }}
                            </td>
                            <td>{{ guide.pieces }}</td>
                            <td>{{ guide.declared }}</td>
                            <td>{{ guide.totalpaid }}</td>
                        </tr>
                    {% endfor %}
                <tbody>
                </tbody>
                </table>
            </div>
        </div>
        <div class="block-flat">
            <div class="header">
                <h3>Listado de {% trans %}Consolidados{% endtrans %} </h3>
            </div>
            <div class="content">
                <table id="consolTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{% trans %}Consolidar{% endtrans %}</th>
                        <th># {% trans %}Consolidado{% endtrans %}</th>
                        <th>Remitente</th>  
                        <th>Destinatario</th>
                        <th>Tipo de envío</th>
                        <th>País origen</th>
                        <th>País destino</th>
                        <th>Agencia</th>
                        
                    </tr>
                </thead>
                <tbody>
                {% for consol in listconsol %}
                    <tr>
                        <td style="text-align:center"><buttom class="btn btn-primary btn-sm" title="{% trans %}Consolidar{% endtrans %}" onclick="gotoConsol({{ consol.id }});"><i class="fa fa-check-circle"></i></buttom></td>
                        <td style="text-align:center;"><a href="{{ path('consolidated_show', { 'id': consol.id }) }}">{{ consol.id }}</a></td>
                        <td>{{ consol.sender }}</td>
                        <td>{{ consol.receiver }}</td>
                        <td>{{ consol.shippingtype }}</td>
                        <td>{{ consol.countryfrom }}</td>
                        <td>{{ consol.countryto }}</td>
                        <td>{{ consol.agency }}</td>
                        
                    </tr>
                {% endfor %}
                </tbody>
                <tr>
                <td colspan="9" style="text-align:center;"><button type="button" onClick="history.go(-1);return true;" class="btn btn-default btn-lg bback" >Regresar</button></td>
		</tr>
    </table>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    function gotoConsol(consolid) {
        var toconsol = [];
        var count=0;
        {% for guide in entity.guides %} 
            toconsol[count++] = {{ guide.id }};
        {% endfor %}
        var guidelist = JSON.stringify(toconsol);
        
        if (toconsol.length > 0 ) {
            window.location.href = "{{ url('consolidated_guides') }}?guidelist=" + guidelist +"&idconsol=" + consolid;
        } else {
            funalert('Debe escoger al menos 1 {% trans %}Guía{% endtrans %}');
        }
        return false;
    }
    $(document).ready(function(){
        var $guideTable = $('#guideTable').DataTable({
            paginate: false,
            info: false,
            searching: false,
            ordering: false,
        });
        var $consolTable = $('#consolTable').DataTable({
            paginate: false,
            info: false,
            searching: false,
            ordering: false,
        });
    });
</script>
{% endblock %}
