{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de seguros de agencia</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Seguro de agencia master (%)</th>
                <th>Seguro de agencia (%)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('insurance_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.masterins }}</td>
                <td>{{ entity.agencyins }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('insurance_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('insurance_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('insurance_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
