{% extends '::newbase.html.twig' %}
{% block title %}
    <title>Crear Tipo de Pago</title>
{% endblock %}

{% block body %}

<div id="pcont" class="container-fluid">
    <div class="page-head">
        <h2>Crear Tipo de Pago</h2>
            <ol class="breadcrumb">
            <li><a href="{{ url('homepage') }}">Home</a></li>
            <li><a href="{{ url('paidtype') }}">Tipos de Pago</a></li>
            <li class="active">Crear</li>
            </ol>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger">
                    <strong>Advertencia: </strong>{{ flashMessage }}
                </div>
            {% endfor %}
    </div>
    
    <div class="cl-mcont">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="block-flat">
            <div class="header">
                <h3>Datos</h3>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-sm-4 col-md-4">
                        {{ form_row(form.description) }}
                    </div>
                    <div class="col-sm-4 col-md-4"  style="text-align: center;">
                        {{ form_row(form.active, { 'attr': {'class': 'icheck'} }) }}
                    </div>
                </div>
                <table class="no-border">
                    <tbody class="no-border-y">
                        <tr>
                        <td>
                            <button type="button" onClick="history.go(-1);return true;" class="btn btn-default" >Regresar</button>
                        </td>
                        <td style="text-align:right;">
                            {{ form_row(form.submit) }}
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
       
        
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>

{% endblock %}
