{% extends '::newbase.html.twig' %}
{% block title %}
    <title>Anular {% trans %}Recibo{% endtrans %}</title>
{% endblock %}
{% block body -%}
<div id="pcont" class="container-fluid">
    <div class="page-head">
        <h2>Anular  {% trans %}Recibo{% endtrans %}</h2>
            <ol class="breadcrumb">
            <li><a href="{{ url('homepage') }}">Home</a></li>
            <li><a href="{{ url('receipt') }}">{% trans %}Recibos{% endtrans %}</a></li>
            <li class="active">Anular {% trans %}Recibo{% endtrans %}</li>
            </ol>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger">
                    <strong>Advertencia: </strong>{{ flashMessage }}
                </div>
            {% endfor %}
    </div>
    <div class="cl-mcont">
        <div class="block-flat">
            {# 
            <div class="header">
                <h3>Lista de {% trans %}Recibos{% endtrans %}</h3>
            </div>
            #}
            <div class="content">
                <div class="table-responsive">
                    {% if 'peso'|trans == 'Lb' %}
                        {% set conwei = 0.454 %}
                    {% else %}
                        {% set conwei = 1/0.454 %}
                    {% endif %}
                    
                    <table id="receiptTable" class="table-box" cellspacing="0" width="100%" >
                    <thead>
                        <tr>
                            <th><h4>Id</h4></th>
                            <th><h4>Número</h4></th>
                            <th><h4>Fecha</h4></th>
                            <th><h4>Remitente</h4></th>
                            <th><h4>Destinatario</h4></th>
                            <th><h4>Cas #</h4></th>
                            <th><h4>Carrier</h4></th>
                            <th><h4>Peso ({% trans %}peso{% endtrans %}/{% trans %}altpeso{% endtrans %})</h4></th>
                            <th><h4>Marcar</h4></th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td><button type="button" class="btn btn-success btn-sm btn-flat" onclick="location.href='{{ path('receipt_show', { 'id': entity.id }) }}';">{{ entity.number }}</button></td>
                                <td>{{ entity.arrivedate|date('m-d-y') }}</td>
                                <td>{{ entity.shipper }}</td>
                                <td>{{ entity.receiver.name }} {{ entity.receiver.lastname }}</td>
                                {% if entity.receiver.customer.pobox is null %}
                                    <td></td>
                                {% else %}
                                    <td>{{ entity.receiver.customer.pobox.number }}</td>
                                {% endif %}
                                <td>{{ entity.carrier }}</td>
                                <td>{{ entity.weight }}/{{ (entity.weight*conwei)|number_format(2, '.', ',') }}</td>
                                <td style="text-align:center;"><input type="checkbox" name="marcar" value="marked" checked="unchecked"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    
                    
                    <table class="no-border">
                    <tbody class="no-border-y">
                        <tr>
                            <td><button type="button" onClick="history.go(-1);return true;" class="btn btn-default btn-flat bback" >
                        Regresar</button></td>
                            <td style="text-align:right;">
                            <button type="button" class="btn btn-info btn-flat bcancel" data-toggle="modal" data-target="#cancelrec">Anular</button>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="cancelrec" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="closecancelrec" type="button" class="close" data-dismiss="modal">&times;</button>
                        <center><h2 class="modal-title">Confirme la anulación del {% trans %}Recibo{% endtrans %}</h2></center>
                    </div>
                    <div class="modal-body">
                        <center>
                            {# <h3>Desea anular el {% trans %}Recibo{% endtrans %}</h3><br> #}
                            <button type="button" class="btn btn-info btn-flat gotocancel">Confirmar</button>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button id="closecancelrec" type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>     
            </div>
        </div>
        
        
    </div>
</div>


{% endblock %}
{% block javascripts %}

<script type="text/javascript">
    function uncheckReceipt() {
        var tableRef = document.getElementById('receiptTable').getElementsByTagName('tbody')[0];
        var nf = tableRef.rows.length;
        var todel = [];
    	for (i=0; i < nf; i++) {
            var mark = tableRef.rows[i].cells[9].childNodes[0];
	        // console.log(mark.checked);
            mark.checked=false;	
        }
    }
    
    $(document).ready(function () {
        $thisRecTable=$('#receiptTable').DataTable({
		"ordering": false,
		"searching": false,
		"info":     false,
		"lengthChange": false,
		"scrollX": true,
		"pageLength": 10,
		"lengthMenu": [[5, 10, 20, 30, 50, -1], [5, 10, 20, 30, 50, "Todos"]],
		"columns": [ null, { "searchable": false }, { "searchable": false }, null, null, null,  { "searchable": false }, { "searchable": false }, { "searchable": false},], 
        "columnDefs": [ {"targets": 8, "orderable": false} ],
		"language": {
			"sSearch": "",
        		"lengthMenu": 'Mostrando  _MENU_  "{% trans %}Recibos{% endtrans %}" por página',
        		"zeroRecords": '<div style=\"color:red;\">Lo siento no se encontraron "{% trans %}Recibos{% endtrans %}"</div>',
                "sInfo": 'Mostrando _START_ a _END_ de _TOTAL_ "{% trans %}Recibos{% endtrans %}"',
        		"infoEmpty": "No hay registros disponibles",
        		"infoFiltered": "(Filtradas de un total de _MAX_ )",
			// "searchPlaceholder": "Cliente",
			"paginate" : {
        				first:    '<<',
        				previous: '<',
        				next:     '>',
        				last:     '>>'
       			}
        	},
		"pagingType": "full_numbers",
		"fnDrawCallback": function(oSettings) {
			if (oSettings.fnRecordsDisplay() == 0) {
				$('.bupdate').hide();
				$('.bguia').hide();
				$('.bcancel').hide(); 
			} else {
				$('.bupdate').show();
				$('.bguia').show();
				$('.bcancel').show();
			}
			if (oSettings.fnRecordsDisplay() <= 1) {
				$('.breempack').hide();
			} else {
				$('.breempack').show();
			}
			$(oSettings.nTableWrapper).find('.dataTables_search').hide();
        		if (oSettings._iDisplayLength >= oSettings.fnRecordsDisplay()) {
        			$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
        		} else {
				$(oSettings.nTableWrapper).find('.dataTables_paginate').show();	
			}
    		},
        });
	
        // uncheckReceipt();
        $('.gotocancel').click(function(e) {
            e.preventDefault();
            $("#closecancelrec").click();
            var tocancel = [];
            var count=0;
            $thisRecTable.$('tr').each(function(index,rowhtml){
                var checked = $('input[type="checkbox"]:checked',rowhtml).length;
                var data = $thisRecTable.row(rowhtml).data();
                // console.log(ii + ':' + checked);
                if (checked==1) {
                    tocancel[count++]=data[0];
                } 
            });
            var reclist = JSON.stringify(tocancel);
            var url="{{ url('receipts_cancel') }}?reclist=" + reclist;
            // alert('VOY A ANULAR LOS RECIBOS: ' + url);
            window.location.href = "{{ url('receipts_cancel') }}?reclist=" + reclist;
            return false;
        });
        $('#receiptTable td:nth-child(1), th:nth-child(1)').hide();
    });
</script>
{% endblock %}
