{% extends '::newbase.html.twig' %}
{% block title %}
    <title>Crear Usuario</title>
{% endblock %}

{% form_theme form 'form/fields.html.twig' %}

{% block body %}

<div id="pcont" class="container-fluid">
    <div class="page-head">
        <h2>Crear Usuario</h2>
            <ol class="breadcrumb">
            <li><a href="{{ url('homepage') }}">Home</a></li>
            <li><a href="{{ url('user') }}">Usuarios</a></li>
            <li class="active">Crear</li>
            </ol>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger alert-white rounded">
                    <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                    <div class="icon">
                        <i class="fa fa-warning"></i>
                    </div>
                    <strong>Alerta! </strong> {{ flashMessage|raw }} 
                    </strong>
                </div>
            {% endfor %}
    </div>
    <div class="cl-mcont">
        {{ form_start(form, {attr: {novalidate: 'novalidate', 'id': 'user_type' }}) }}
        <div class="block-flat">
            <div class="header">
                <h3>Datos del Usuario</h3>
            </div>
            <div class="content">
                {{ form_row(form.agency) }}
                {{ form_row(form.username) }}</td>	
                {{ form_row(form.email) }}</td>
                {{ form_row(form.name) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.thepassword) }}
                {{ form_row(form.profile) }}
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="control-label required" for="">Foto</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="dropzone">
                                <div class="dz-message">
                                    <h3> Suelta el archivo aquí o haz clic para cargar (JPG/PNG) (<=1Mb)</h3>
                                    <span class="note">Se recomienda que la imagen tenga las mismas dimensiones de ancho y alto, para su adecuada visualización. Ejemplo: 200px200px</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#
                <div id="template">
                    {{ form_row(form.image) }}
                </div>
                #}
            <table class="no-border">
            <tbody class="no-border-y">
                <tr>
                <td>
                    <button type="button" onClick="history.go(-1);return true;" class="btn btn-default" >Regresar</button>
                </td>
                <td style="text-align:right;">
                    {{ form_row(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
                </td>
                </tr>
            </tbody>
        </table>
            </div>{# FIN CONTENT #}
        </div> {# FIN BLOCK FLAT #}
        <input type="hidden" id="acepted">
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#user_type_fileName').val('');
        Dropzone.autoDiscover = false;
        var dropzone_default = new Dropzone(".dropzone", {
            url: '{{ path('loaduserphoto') }}',
            maxFiles: 1,
            uploadMultiple: false,
            dictMaxFilesExceeded: 'Solo puede seleccionar un (1) archivo',
            acceptedFiles: 'image/*',
            dictInvalidFileType: 'No se permiten archivos de este tipo',
            maxFilesize: 1,  // in Mb
            dictFileTooBig: "El tamaño del archivo ({{ '{{' ~ 'filesize' ~ '}}' }}Mb) excede el máximo permitido ({{ '{{' ~ 'maxFilesize' ~ '}}' }}Mb)",
            addRemoveLinks: true,
            dictRemoveFile: 'Eliminar archivo',
            init: function () {
                this.on("error", function(file, message, xhr) { 
                    if (xhr == null) this.removeFile(file); // perhaps not remove on xhr errors
                    funalert(message);
                });
                this.on("sending", function(file, xhr, formData) {
                    // send additional data with the file as POST data if needed.
                    // formData.append("key", "value");  
                });
                this.on("success", function(file, response) {
                    if (response.uploaded) 
                        $('#user_type_fileName').val(response.fileName);
                        $('#acepted').val(file.name);
                        //alert('File Uploaded: ' + response.fileName);
                });
                this.on("removedfile", function(file) {
                    //var num = dropzone_default.getUploadingFiles().length;
                    //x = confirm('¿Quiere eliminar el archivo? ' + num);
                    //if(!x)  return false;
                    //console.log(num + '->' + $('#user_type_fileName').val() + '==' + file.name);
                    if ($('#acepted').val() == file.name) {
                        $('#user_type_fileName').val('');
                    }
                });
            }
        });
    });
</script>
{% endblock %}
