{% extends '::base.html.twig' %}

{# Display the form #}
{% block body -%}
<div class="widget">
    <div class="widget-header"> 
              <h3> <b>Nueva Ciudad</b> 
</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content"> 
    <div class="bodycontainer scrollable">
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<table class="table table-striped table-bordered">
<tbody>
<tr>
<td>{{ form_row(form.name) }}</td>
<td>{{ form_row(form.state) }}</td>
<td>{{ form_row(form.country) }}</td>
</tr>
</tbody>
<tfoot>
<tr>
<td>{{ form_row(form.submit) }}</td>
<td colspan=2 style="text-align:right;"><button type="button" class="btn btn-default" onclick="location.href='{{ path('city') }}';">Regresar</button></td>
</tfoot>
</table>
{{ form_end(form) }}
</div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#city_type_country').change(function(){
           var val = $(this).val();
           $.ajax({
                type: "POST",
                url: "{{ url('select_states') }}?country_id=" + val,
                success: function(data) {
                    // Remove current options
                    $('#city_type_state').html('');
                    $.each(data, function(k, v) {
                        $('#city_type_state').append('<option value="' + v + '">' + k + '</option>');
                    });
                }
            });
            return false;
        });
    });
</script>
{% endblock %}
