{% extends '::layout.html.twig' %}

{% block body -%}
<script type="text/javascript">
    // return the value to the parent window
    function returnYourChoice(vidcus, vname, vlastname, vaddress, vcityid, vcity, vstate, vcountry, vphone, vmobile, vbarrio, vemail, vzip){
        opener.setResultCustomer(idcus, namecus, lastname, address, cid, cname, sname, pname, phone, mobile, barrio, email, zip, 		
				vidcus, vname, vlastname, vaddress, vcityid, vcity, vstate, vcountry, vphone, vmobile, vbarrio, vemail, vzip )
        //console.log(id,vc,vs,vp);
        window.close();
    }
</script>
    
    <h1>Buscar cliente</h1>
	{{ form_start(form) }}
   	<table class="table">  
	 <tbody >
        	<tr>
		 <td>{{ form_row(form.name) }}</td>
		 <td>{{ form_row(form.lastname) }}</td>
		</tr>	
		<tr>
		 <td>{{ form_row(form.search) }}</td>
		 <td><div id="log" style="color:red;"></div></td> {#
                 <td>{{ form_row(form.resul, { 'attr': {'style':'color:red;background-color:ffffff' }}) }}</td> #}
		</tr>
         </tbody>	
	</table>
        {{ form_end(form) }}
   
    <h1>Clientes</h1>

           <div class="widget-content">
              <table class="table table-striped table-bordered" id="myTable">
                <thead>
                  <tr>
                	<th>Id</th>
                	<th>Nombre</th>
                	<th>Apellido</th>
			<th>Email</th>
			<th>Ciudad</th>
			<th>Estado</th>
			<th>País</th>
                 </tr>
                </thead>
                        <tbody >
        		
                        </tbody>
              </table>
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget --> 
        
<script type="text/javascript">
    $(document).ready(function () {
        $('#form_scustomer_search').click(function(){
	   //console.log('VOY');
	    var name = $('#form_scustomer_name').val();
	    var lastname = $('#form_scustomer_lastname').val();	
	    if ((!name) && (!lastname)) {
		alert('Suministre nombre y/o apellido');
	    } else {
		$.ajax({
                type: "GET",
                url: "{{ url('customer_list') }}?customer_name=" + name + "&customer_lastname=" + lastname,
                success: function(data) {
		var tableRef = document.getElementById('myTable').getElementsByTagName('tbody')[0];
		var nf = tableRef.rows.length;
		for (i=0; i < nf; i++) {
			tableRef.deleteRow(0);
		}
		var nc = data.length;
		if (nc > 0) {
			
			document.getElementById('log').innerHTML = '';
		} else {
			
			document.getElementById('log').innerHTML = 'NO HAY RESULTADOS';
		}
		//console.log(nc);
		//console.log(tableRef.rows.length);
		for (i = 0; i < nc; i++) {
			var customerid = data[i]['customerid'];
			var namecus = data[i]['name'];
			var lastnamecus = data[i]['lastname'];
			var address = data[i]['address'];
			var cityid = data[i]['cityid'];
			var cityname = data[i]['cityname'];
			var state = data[i]['state'];
			var country = data[i]['country'];
			var phone = data[i]['phone'];
			var mobile = data[i]['mobile'];
			var barrio = data[i]['barrio'];
			var email = data[i]['email'];
			var zip = data[i]['zip'];
			// Insert a row in the table at the last row
			var newRow   = tableRef.insertRow(tableRef.rows.length);

			// Insert a cell in the row at index 0
			var newCell0  = newRow.insertCell(0);
			var newCell1  = newRow.insertCell(1);
			var newCell2  = newRow.insertCell(2);	
			var newCell3  = newRow.insertCell(3);
			var newCell4  = newRow.insertCell(4);
			var newCell5  = newRow.insertCell(5);
			var newCell6  = newRow.insertCell(6);
			// Append a text node to the cell
			
			
			var btn = document.createElement("BUTTON");        // Create a <button> element
			var tag = "Cliente_" + customerid;
			var t = document.createTextNode(tag);
			btn.appendChild(t);
			btn.onclick = (function(){ var vidcus = customerid; var vname = namecus; var vlastname = lastnamecus; 
						   var vaddress = address;  var vcityid = cityid; var vcity= cityname; var vstate = state; 
						   var vcountry = country; var vphone = phone; var vmobile = mobile; var vbarrio = barrio; 
						   var vemail = email; var vzip = zip;  
					return function() {returnYourChoice(vidcus, vname, vlastname, vaddress, vcityid, vcity, vstate, vcountry, 
										vphone, vmobile, vbarrio, vemail, vzip)}})();  
			// document.getElementById("myView").appendChild(btn);

		 	newCell0.appendChild(btn);

			var newText1 = document.createTextNode(namecus);
			newCell1.appendChild(newText1);

			var newText2 = document.createTextNode(lastnamecus);
			newCell2.appendChild(newText2);

			var newText3 = document.createTextNode(email);
			newCell3.appendChild(newText3);		
			
			var newText4 = document.createTextNode(cityname);
			newCell4.appendChild(newText4);

			var newText5 = document.createTextNode(state);
			newCell5.appendChild(newText5);

			var newText6 = document.createTextNode(country);
			newCell6.appendChild(newText6);
                }
	     }
	    });	
	   } 
           return false;
	});
    });
</script>

{% endblock %}
