{% extends '::base.html.twig' %}

{% block body -%}

<div class="widget">
    <div class="widget-header"> <i class="icon-money"></i>
              <h3>Nuevo tipo de pago</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	     <div class="bodycontainer scrollable">
	     <table class="table table-striped table-bordered">
                <thead>
                  <tr>
    			<th colspan="4"><h4>Datos del tipo de pago</h4></th>
		  </tr>
                </thead>
       		<tbody>
			<tr>
    			<td>{{ form_row(form.name) }}</td>
			<td>{{ form_row(form.description) }}</td>
			<td>{{ form_row(form.active) }}</td>
			</tr> 
			
    	</tbody>
        <tfoot>
    	<tr>
    	<td colspan=2 style="text-align:center;">{{ form_row(form.submit) }}</td>
    	<td style="text-align:right;"><button type="button" class="btn btn-default" onclick="location.href='{{ path('paidtype') }}';">Regresar a lista</button></td>
    	</tr>
    </tfoot>
    </table>
     {{ form_end(form) }} 
{% endblock %}
