{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de transportistas de carga</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Fax</th>
                <th>Contacto</th>
                <th>Zip</th>
                <th>Dirección</th>
		<th>Ciudad</th>
		<th>Customs_area</th>
                <th>Fecha de creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('transporter_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.fax }}</td>
                <td>{{ entity.contact }}</td>
                <td>{{ entity.zip }}</td>
                <td>{{ entity.address }}</td>
		<td>{{ entity.city }}</td>
		<td>{{ entity.customsarea }}</td>
                <td>{% if entity.creationdate %}{{ entity.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('transporter_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('transporter_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('transporter_new') }}">
                Crear nuevo transportista de carga
            </a>
        </li>
    </ul>
    {% endblock %}
