{% extends '::base.html.twig' %}

{% block body -%}
<div class="widget">
    <div class="widget-header"> <i class="icon-user-md"></i>
              <h3>Lista de status de usuarios <a href="{{ path('userstatus_new') }}" class="btn btn-default btn-mini">Crear nuevo status</a></h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de creación</th>
                <th>Accciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.creationdate %}{{ entity.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('userstatus_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('userstatus_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    {% endblock %}
