{% extends '::base.html.twig' %}

{% block body -%}
<div class="widget">
    <div class="widget-header"> <i class="icon-user-md"></i>
              <h3>Datos del status para usuario</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Fecha de creación</th>
                <td>{{ entity.creationdate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
        <tfoot>
		<td><a href="{{ path('userstatus_edit', { 'id': entity.id }) }}" class="btn btn-default btn-mini">Editar</a></td>
		<td><a href="{{ path('userstatus') }}" class="btn btn-default btn-mini">Regresar a la lista</a></td>
		
	</tfoot>
    </table>
</div>
</div>
{% endblock %}
