{% extends '::newbase.html.twig' %}

{% block title %}
    <title>Mostrar {% trans %}Consolidado{% endtrans %}</title>
{% endblock %}

{% block body -%}
<style>
    td {
        white-space: nowrap;
    }
 
    td.wrapok {
        white-space:normal;
    }
    
</style>


{% set guides = entity.guides|length %}

{% if entity.isopen %}
    {% set open = 'Abierto' %}
    {% set remove = true %}
{% else %}
    {% set open = 'Cerrado' %}
    {% set remove = false %}
{% endif %}

<div id="pcont" class="container-fluid">
    <div class="page-head">
        <h2>Información de {% trans %}Consolidado{% endtrans %}</h2>
            <ol class="breadcrumb">
            <li><a href="{{ url('homepage') }}">Home</a></li>
            <li><a href="{{ url('consolidated') }}">{% trans %}Consolidado{% endtrans %}</a></li>
            <li class="active">Mostrar</li>
            </ol>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger">
                    <strong>Advertencia: </strong>{{ flashMessage }}
                </div>
            {% endfor %}
    </div>
    <div class="cl-mcont">
        <div class="block-flat">
            <div class="header">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <h3>{% trans %}Consolidado{% endtrans %} {{ entity.number }} {{ entity.laststatus }}</h3>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        {% if  (app.user.agency.type == "MASTER") and (entity.isopen == true)  %}
                            <div class="btn-group" style="margin-bottom: 5px;margin-top: 4px;">
                                <button type="button" class="btn btn-default">Opciones</button>
                                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                <span class="caret"></span><span class="sr-only">Opciones</span></button>
                                <ul role="menu" class="dropdown-menu">
                                    {% if (entity.isopen) %}
                                        <li><a href="{{ path('consolidated_addguides', {'id': entity.id }) }}">(+) {% trans %}Guías{% endtrans %} por lista</a></li>
                                        {# <li><a  href="{{ path('consolidated_groupconsol', {'id': entity.id }) }}">(+) {% trans %}Guías{% endtrans %} por número</a></li>#}
                                        {% if guides > 0 %}
                                            <li><a href="{{ path('consolidated_close', {'id': entity.id }) }}">Cerrar</a></li>
                                        {% endif %}
                                    {% else %}
                                        {% if entity.laststatus == 'Creado' %}
                                            <li><a href="{{ path('consolidated_reopen', {'id': entity.id }) }}">Reabrir</a></li>
                                        {% endif %}
                                    {% endif %}
                                
                                    {% if guides == 0 %}
                                        <li><a href="{{ path('consolidated_edit', {'id': entity.id }) }}">Editar</a></li>
                                        <li><a href="{{ path('consolidated_remove', {'id': entity.id }) }}">Anular</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if  (app.user.agency.type == "MASTER") and (entity.isopen == false) %}
                            <div class="btn-group" style="margin-bottom: 5px;margin-top: 4px;">
                                <button type="button" class="btn btn-default">Opciones</button>
                                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                <span class="caret"></span><span class="sr-only">Opciones</span></button>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="{{ path('consolidated_reopen', {'id': entity.id }) }}">Reabrir</a></li>
                                </ul>
                            </div>
                        {% endif %}
                        
                        <div class="btn-group" style="margin-bottom: 5px;margin-top: 4px;">
                            <button type="button" class="btn btn-default">Status</button>
                            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span><span class="sr-only">Status</span></button>
                            <ul role="menu" class="dropdown-menu">
                                {% if  (app.user.agency.type == "MASTER") and (entity.isopen == false) %}
                                    <li><a href="{{ path('moveconsols_new', {'id': entity.id }) }}">Nuevo Status (Versión 1.1)</a></li> 
                                {% endif %}
                                <li><a href="{{ path('statusconsol_new', {'id': entity.id }) }}">Nuevo Status</a></li> 
                            </ul>
                        </div>
                        <button type="button" title="Imprimir" class="btn btn-default" onclick="location.href='{{ path('consolidated_print', { 'id': entity.id }) }}';"><i class="fa fa-print"></i></button>
                        <button type="button" title="Generar PDF" class="btn btn-default" onclick="location.href='{{ path('consolidated_printpdf', { 'id': entity.id }) }}';"><i class="fa fa-file-text"></i></button>
                        <button type="button" title="Etiqueta" class="btn btn-default" onclick="location.href='{{ path('consolidated_labelpdf', { 'id': entity.id }) }}';"><i class="fa fa-tag"></i></button>
                    </div>
                    
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <b>
                        {% if app.user.agency.type == 'MASTER' %}
                            <i class="fa fa-building-o"></i> Agencia: {{ entity.agency }}<BR>
                        {% endif %}
                        <i class="fa fa-user"></i> Remitente: {{ entity.sender }} ({{ entity.countryfrom }})</BR>
                        <i class="fa fa-calendar"></i> Destinatario: {{ entity.receiver }} ({{ entity.countryto }})<BR>
                        </b>
                    </div>
                    {% if entity.shippingtype.name == "Aéreo" %}
                        {% set iconvia = "fa fa-plane" %}
                    {% else %}
                        {% set iconvia = "fa fa-ship" %}
                    {% endif %}
                    <div class="col-md-6 col-sm-6">
                        <b>
                        <i class="{{ iconvia }}"></i> Vía: {{ entity.shippingtype }}<br>
                        {# <i class="fa fa-calculator"></i> Status: {{ status }}<br> #}
                        <i class="fa fa-eye"></i> Condición: {{ open }}<br>
                        </b>
                    </div>
                </div>
            </div>
        </div>
        
        {% if 'peso'|trans == 'Lb' %}
            {% set conwei = 0.454 %}
        {% else %}
            {% set conwei = 1/0.454 %}
        {% endif %}
        {% if 'dimension'|trans == 'CF' %}
            {% set convol = 1/35.3147 %}
        {% else %}
            {% set convol =  35.3147 %}
        {% endif %}
        {% set globalpaid= 0 %}
        {% set globalagency= 0 %}
        <div class="block-flat">
            <div class="header">
                <h3>{% trans %}Guías{% endtrans %}</h3>
            </div>
            <div class="content">
                <div id="mydiv" style="width:60%">
                <table id="guideTable" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Fecha</th>
                            <th>Destinatario</th>
                            <th>Destino</th>
                            <th>Peso ({% trans %}peso{% endtrans %}/{% trans %}altpeso{% endtrans %})</th>
                            <th>Volumen ({% trans %}dimension{% endtrans %}/{% trans %}altdimension{% endtrans %})</th>
                            <th>Total</th>
                            <th>Status</th>
                            {# <th>Bolsa</th> #}
                            <th>Agencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for guide in entity.guides %}
                            {% set globalpaid = globalpaid + guide.totalpaid %}
                            {% if guide.tariff.measure.name == "CF" %}
                                {% set ganancia = guide.tariff.profitag*guide.paidweight %}
                            {% else %}
                                {% if guide.realweight < guide.tariff.minimun %}
                                    {% set ganancia = guide.tariff.profitag * guide.tariff.minimun %}
                                {% else %}
                                    {% set ganancia = guide.tariff.profitag * guide.realweight %}
                                {% endif %}
                                {% if guide.volfreight > 0 %}
                                    {% set ganancia = ganancia + guide.tariff.profitagv * guide.paidweight %}
                                {% endif %}
                            {% endif %}
                            {% set paidagency = guide.totalpaid - ganancia %}
                            {% set globalagency = globalagency + paidagency %}
                            <tr>
                                <td><a  class="btn btn-success btn-sm btn-flat" href="{{ path('guide_show', { 'id': guide.id }) }}">{{ guide.number }}</a>
                                {% if remove %}
                                    <buttom type="button" class="btn btn-danger btn-xs bremguide" title="Anular" data-toggle="modal" data-target="#removeguide" data-theguide={{ guide.id }} data-thenumber="{{ guide.number }}"><i class="fa fa-times"></i></buttom>
                                {% endif %}
                                </td>
                                <td>{{ guide.creationdate|date('m/d/Y') }}</td>
                                <td>{{ guide.addressee.name }} {{ guide.addressee.lastname }}</td>
                                <td>{{ guide.addressee.city }} ({{ guide.countryto }})</td>
                                <td>{{ guide.realweight }}/{{ (guide.realweight*conwei)|number_format(2, '.', ',') }}</td>
                                <td>
                                {% for receipt in guide.receipts %}
                                {% if receipt != guide.masterec %}
                                    {% set volumen = receipt.length*receipt.width*receipt.height %}
                                    {% set pesod = volumen/app.user.agency.maincompany.dimfactor %}
                                    {% set volumen = volumen/app.user.agency.maincompany.convertvol %}
                                    {% set wkg = receipt.weight*0.454 %}
                                    {{ receipt.length }}X{{ receipt.width }}X{{ receipt.height }} ({{ volumen|number_format(2, '.', ',') }}/{{ (volumen*convol)|number_format(2, '.', ',') }} )
                                {% endif %}
                                {% endfor %}
                                </td>
                                <td>{{ guide.totalpaid }}</td>
                                <td>{{ guide.laststatus }}</td>
                                <td>{{ guide.agency }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        {% if (entity.liststatus|length > 0)  or (entity.moves| length > 0) %}
            <div class="block-flat">
                <div class="header">
                    <h3>Status  {% trans %}Consolidado{% endtrans %} {{ entity.number }}</h3>
                </div>
                <div class="content">
                    <table id="statusTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" style="padding-top: 0px !important; margin-top: -40px !important;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Fecha</th>
                            <th>{% trans %}Paso{% endtrans %}</th>
                            <th>Porcentaje</th>
                            <th>Lugar</th>
                            <th>Comentario</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for move in entity.liststatus %}
                        <tr>
                            <td><buttom class="btn btn-primary btn-xs" title="Editar" onclick="location.href='{{ path('statusconsol_edit', { 'id': move.id }) }}';"><i class="fa fa-pencil"></i></buttom></td>
                            <td>{{ move.date |date('m/d/Y H:i:s') }}</td>
                            {% if move.step %}
                                <td>{{ move.step.name }}</td>
                                <td>{{ move.step.percentage }}</td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                            <td>{{ move.place }} ({{ move.place.state }})</td>
                            <td>{{ move.comment }}</td>
                        </tr>
                        {% endfor %}
                        {% for key in entity.moves|keys %}
                            <tr>
                            {% if key == -1 %}
                                <td>V 1.1</td>
                                <td>{{ entity.moves[key].movdate |date('m/d/Y') }}</td>
                                <td>{{ entity.moves[key].status }}</td>
                                <td>{{ entity.moves[key].percentage }}</td>
                                <td></td>
                                <td>{{ entity.moves[key].comment }}</td>
                                {#  #}
                                <td></td>
                            {% else %}
                                <td>V 1.1 <buttom class="btn btn-primary btn-xs" title="Modificar" onclick="updateMove({{ entity.moves[key].id }}, {{ key }});"><i class="fa fa-pencil"></i></button></td>
                                <td><input type="text" id="movdate{{key}}" name="movdate{{key}}" required="required" style="width: 10em" value="{{ entity.moves[key].movdate |date('m/d/Y') }}"></td>
                                <td>{{ entity.moves[key].status }}</td>
                                <td><input type="number" required="required" maxlength="3" pattern=".{1,}" id="movpercentage{{key}}" value="{{ entity.moves[key].percentage}}"></td>
                                <td></td>
                                <td><textarea id="movcomment{{key}}" style="width:100%;" required="required">{{ entity.moves[key].comment}}</textarea></td>
                            {% endif %}
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        
        <input type="hidden" name="theguide" id="theguide">
        
        <!-- Modal -->
        <div class="modal fade colored-header md-effect-9" id="removeguide" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                                <center>
                                    <b>Remover {% trans %}Guía{% endtrans %} <input readonly type="text" name="thenumber" id="thenumber"> de {% trans %}Consolidado{% endtrans %} </b>
                                </center>
                                <p id="alertmessage" style="font-size:14px;">
                                     Si {% trans %}Guía{% endtrans %} está en una bolsa, el contenido COMPLETO de la bolsa se removerá de {% trans %}Consolidado{% endtrans %}
                                </p>
                                <button type="button" class="btn btn-info btn-lg gotoremoveguide">Confirmar</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="text-center">
                                <button id="closeremguide" type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content-->
            </div><!-- /.modal-dialog-->
        </div><!-- /.modal-->
        {% for flashMessage in app.session.flashbag.get('success') %}
        <!-- Modal -->
        <div class="modal fade" id="successmodal" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <center>
                <button id="closesuccess" type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Actualización de los status del {% trans %}Consolidado{% endtrans %} </h2>
                </center>
                </div>
            <br>
                <div class="modal-body">
                        <center>
                        <div class="alert alert-danger">
                            <h3><strong>{{ flashMessage }}</strong></h3>
                        </div>
                        </center>
                </div>
                
                <div class="modal-footer">
                <button id="closesuccess" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>     
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">
    function updateMove(idmove, pos) {
        var idconsol = {{ entity.id }};
        var date = $('#movdate'+pos).val(); 
        var comment = $('#movcomment'+pos).val();
        var dt = new Date();
        var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        
        var percentage = $('#movpercentage'+pos).val();
        if ((percentage < 0) || (percentage >100)) {
            alert('El Porcentaje asigando al status que desea modificar está fuera de rango. (Debe ser >=  0 y <= 100)');
            return false;
        }
        
        // window.location.href = "{{ path('moveconsols_update') }}?idmove=" + idmove +"&date=" + date + "&comment=" + comment + "&percentage=" + percentage;
        window.location.href = "{{ path('moveconsols_update') }}?idmove=" + idmove +"&date=" + date + "&comment=" + comment + "&clock=" + time + "&percentage=" + percentage;
        return false;
    }
    $(document).ready(function () {
       
        var modalid =  $('#successmodal').length;
        if (modalid > 0) {
            $('#successmodal').modal('show');
        }
        
        $thisGuideTable=$('#guideTable').DataTable({
            "ordering": false,
            "searching": false,
            "info":     false,
            "lengthChange": true,
            "scrollX": true,
            "pageLength": 15,
            "lengthMenu": [[10, 15, 20, 25, 30, -1], [10, 15, 20, 25, 30, "Todos"]],
            /*
            "columns": [ null, null, null, {"searchable": false}, {"searchable": false},
                        {"searchable": false}, {"searchable": false}, {"searchable": false},
                        {"searchable": false},
                        null ],
            */
            "columnDefs": [
                {% if app.user.agency.type != "MASTER" %}
                    {
                        "targets": [8],
                        "visible": false,
                        "searchable": false
                    },
                {% endif %}
                {
                    "targets": [ 5 ],
                    class:"wrapok",
                },
            ],
            "language": {
                "sSearch": "Buscar",
                "lengthMenu": 'Mostrando  _MENU_  "{% trans %}Guías{% endtrans %}" por página',
                "zeroRecords": "<div style=\"color:red;\">Lo siento no se encontraron {% trans %}Guías{% endtrans %}</div>",
                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ {% trans %}Guías{% endtrans %}",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(Filtradas de un total de _MAX_ )",
                "searchPlaceholder": "Número/Remitente/Destinatario",
                "paginate" : {
                    first:    '«',
                    previous: '‹',
                    next:     '›',
                    last:     '»'
                }
            },
            "pagingType": "full_numbers",
            "sDom": '<"top"i>rt<"bottom"lp><"clear">',
            "fnDrawCallback": function(oSettings) {
                if ((oSettings._iDisplayLength >= oSettings.fnRecordsDisplay()) ||  (oSettings._iDisplayLength == -1)) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                } else {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                }
            },
        });
        

        $('.bremguide').click(function(e) {
            e.preventDefault();
            var theguide = $(this).data('theguide');
            var thenumber = $(this).data('thenumber');
            $('#theguide').val(theguide);
            $('#thenumber').val(thenumber);
            console.log(thenumber);
            return true;
        });
        $('#mydiv').width("100%");
        $('#mydiv2').width("100%");
        $thisGuideTable.responsive.rebuild();
        $thisGuideTable.responsive.recalc();
        $thisGuideTable.draw(false);
        $( window ).resize(function() {
            $thisGuideTable.responsive.rebuild();
            $thisGuideTable.responsive.recalc();
            $thisGuideTable.draw(false);
        });
        $('.gotoremoveguide').click(function(e) {
            e.preventDefault();
            $("#closeremguide").click();
            var guideid = $('#theguide').val();
            window.location.href = "{{ url('consolidated_remguide') }}?guideid=" + guideid;
            return false;
        });
        {% if (entity.liststatus|length > 0)  or (entity.moves| length > 0) %}
            $thisMovTable=$('#statusTable').DataTable({
                "responvise": true,
                "searching": false,
                "info":     false,
                "lengthChange": false,
                "paginate": false,
                "language": {
                    "zeroRecords": "<div style=\"color:red;\">Lo siento no se encontraron Status</div>",
                    },
                "columnDefs": [
                    { "type": 'date', "targets": 1 },
                ],
                "order": [[ 1, "desc" ]],
            });
        {% endif %}
        {% if entity.moves|length > 0 %}
            {% for key in entity.moves|keys %}
                /*
                console.log($('#movdate{{key}}').position().top + ':' + $('#movdate{{key}}').position().left + '=>' +  $('#thecontainer').position().left);
                */
                $('#movdate{{key}}').datepicker();
            {% endfor %}
        {% endif %}
    });
    
</script>
{% endblock %}

