{% extends '::newbase.html.twig' %}

{% block title %}
    <title>{% trans %}Facturas{% endtrans %}</title>
{% endblock %}

{% block body -%}

<div class="page-aside app filters">
    <div class="content">
        <button data-target=".app-nav" data-toggle="collapse" type="button" class="navbar-toggle"><span class="fa fa-chevron-down"></span></button>
        <h2 class="page-title">Filtros</h2>
        <p class="description">Buscador Avanzado</p>
        <h4>
        <select id="tfecha">
            <option value="2">Creación</option>
            <option value="3">Vencimiento</option>
        </select>
        </h4>
    </div>
    <div class="app-nav collapse">
        <div class="content">
            <div class="form-group">
                <label class="control-label">Desde:</label>
                <div data-min-view="2" data-date-format="mm/dd/yyyy" class="input-group date datetime">
                    <input id="mindate" size="16" type="text" value="" class="form-control"><span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Hasta:</label>
                <div data-min-view="2" data-date-format="mm/dd/yyyy" class="input-group date datetime">
                    <input id="maxdate" size="16" type="text" value="" class="form-control"><span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pcont" class="container-fluid">
    <div class="main-app">
        <div class="head">
            <h3>Búsqueda</h3>
            <input type="text" id="globalfilter" placeholder="Número/Cliente/Tipo de pago" class="form-control">
        </div>
        <div class="filters">
            <p style="display:inline;" id="currentdate"></p>
        </div>
        <div class="block-flat" style=" padding-top: 0px;">
            <div class="content" style=" padding-top: 0px;">
                <div id="mydiv" style="width: 60%">
                    <table id="billTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Cliente</th>
                                <th>Creación</th>
                                <th>Vencimiento</th>
                                <th>Tipo de pago</th>
                                <th>Nro de Guías</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                {% set total = 0 %}
                                {% for guide in entity.guides %}
                                    {% set total = total + guide.totalpaid %}
                                {% endfor %}
                                <tr>
                                    {% set head = entity.guides|first %}
                                    <td><a  class="btn btn-success btn-sm btn-flat" href="{{ path('bill_show', { 'id': entity.id }) }}">{{ entity.number }}</a></td>
                                    <td>{{ entity.customer }}</th>
                                    <td>{{ entity.creationdate|date('m/d/Y') }}</td>
                                    <td>{{ entity.expdate|date('m/d/Y') }}</td>
                                    <td>{{ entity.paidtype }}</th>
                                    <td>{{ entity.guides | length }}</td>
                                    <td>{{ total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </div>
</div>


{% endblock %}
{% block javascripts %}

<script type="text/javascript">
    function formatDate(date) {
        var monthNames = [
            "Enero", "Febrero", "Marzo",
            "Abril", "Mayo", "Junio", "Julio",
            "Agosto", "Septiembre", "Octubre",
            "Noviembre", "Diciembre"
        ];

        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        return day + ' de ' + monthNames[monthIndex] + ' ' + year;
    }
    function searchBis(str_search) {
        var ret = $($.parseHTML(str_search)).text().toLowerCase();
        return ret.indexOf($('#globalfilter').val().toLowerCase()) != -1;
    }
    $.fn.dataTable.ext.search.push(
        function( settings, data, dataIndex ) {
        if ($('#globalfilter').val().trim() != '') {
            var ret0 = searchBis(data[0]);
            var ret2 = searchBis(data[1]);
            var ret3 = searchBis(data[3]);
            return ( ret0 || ret2 || ret3);
        } else {
            return true;
        }

    });
    $.fn.dataTableExt.afnFiltering.push(
        function( oSettings, aData, iDataIndex ) {
            var iFini = document.getElementById('mindate').value;
            var iFfin = document.getElementById('maxdate').value;
            var iStartDateCol = $("#tfecha").val();
            var iEndDateCol = iStartDateCol;
            iFini=iFini.substring(6,10) + iFini.substring(0,2)+ iFini.substring(3,5);
            iFfin=iFfin.substring(6,10) + iFfin.substring(0,2)+ iFfin.substring(3,5);
            var datofini=aData[iStartDateCol].substring(6,10) + aData[iStartDateCol].substring(0,2)+ aData[iStartDateCol].substring(3,5);
            var datoffin= datofini;

            if ( iFini === "" && iFfin === "" ) {
                return true;
            } else if ( iFini <= datofini && iFfin === "") {
                return true;
            } else if ( iFfin >= datoffin && iFini === "") {
                return true;
            } else if (iFini <= datofini && iFfin >= datoffin) {
                return true;
            }
            return false;
        }
    );
    $(document).ready(function () {
        document.getElementById("currentdate").innerHTML = formatDate(new Date());
        $thisBillTable=$('#billTable').DataTable({
            "ordering": true,
            "searching": true,
            "info":     false,
            "lengthChange": true,
            "scrollX": true,
            "pageLength": 10,
            "lengthMenu": [[10, 15, 20, 25, 30, -1], [10, 15, 20, 25, 30, "Todos"]],
            "columns": [ null, null,  null, null, null, {"searchable": false},
                        {"searchable": false},],
            "language": {
                "sSearch": "Buscar",
                "lengthMenu": 'Mostrando  _MENU_  "{% trans %}Facturas{% endtrans %}" por página',
                "zeroRecords": "<div style=\"color:red;\">Lo siento no se encontraron {% trans %}Facturas{% endtrans %}</div>",
                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ {% trans %}Facturas{% endtrans %}",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(Filtradas de un total de _MAX_ )",
                "searchPlaceholder": "Número/Remitente/Destinatario",
                "paginate" : {
                    first:    '«',
                    previous: '‹',
                    next:     '›',
                    last:     '»'
                }
            },
            "pagingType": "full_numbers",
            "sDom": '<"top"i>rt<"bottom"lp><"clear">',
            "fnDrawCallback": function(oSettings) {
                if ((oSettings._iDisplayLength >= oSettings.fnRecordsDisplay()) ||  (oSettings._iDisplayLength == -1)) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                } else {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                }
            },
        });
        $('#globalfilter').on( 'keyup', function () {
            $thisBillTable.draw();
        } );
        
        $('#tfecha').change( function() {
            if ($('#mindate').val() || $('#maxdate').val() ) {
                $thisBillTable.draw();
            }
        });
        $('#mindate').change( function() { $thisBillTable.draw(); } );
        $('#maxdate').change( function() { $thisBillTable.draw(); } );
        
        $('#mydiv').width("100%");
        $thisBillTable.responsive.rebuild();
        $thisBillTable.responsive.recalc();
        // $thisBillTable.draw();
        $( window ).resize(function() {
            $thisBillTable.responsive.rebuild();
            $thisBillTable.responsive.recalc();
            // $thisBillTable.draw();
        });
    });
</script>
{% endblock %}
